@model WebApp1.Models.Blog
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="container shadow p-4">
        <div class="pagetitle">
            <h2>Thêm mới bài</h2>
        </div>
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title">Tiêu đề</label>
                <input type="text" class="form-control mb-3" asp-for="Title" placeholder="Nhập tiêu đề" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alias">Liên kết</label>
                <input type="text" class="form-control mb-3" asp-for="Alias" placeholder="Nhập liên kết" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Mô tả</label>
                <input type="text" class="form-control mb-3" asp-for="Description" placeholder="Nhập mô tả" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Ảnh đại diện</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-success" onclick="openDialog()">Chọn ảnh</button>
                    </div>
                    <!-- /btn-group -->
                    <input type="text" class="form-control" id="file_input" asp-for="Image" aria-describedby="button-addon2">
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label">Chi tiết thông báo</label>
                <textarea asp-for="Detail" class="form-control"></textarea>
            </div>
            <div class="form-group mt-1 mb-1">
                <label>
                    @Html.CheckBox("IsActive", true)
                    Hiển thị
                </label>
            </div>
            <a href="javascript:history.back()" class="btn btn-lg btn-warning"><i class="bi bi-box-arrow-in-left"></i> Quay lại</a>

            <button type="submit" value="Save" class="btn btn-lg btn-primary p-2"><i class="bi bi-clipboard-plus"></i> Thêm</button>
        </form>
    </div>
</main>
@{
    var summerNote = new WebApp1.Areas.Admin.Models.SummerNote("#Detail");
    <partial name="_SummerNote" model="summerNote" />
}